html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #282a36;
}

* {
  box-sizing: border-box;
}

a {
  color: #f48020;
  text-decoration: none;
}

a:hover {
  color: #f4a261;
  text-decoration: wavy;
  transition: 0.2s;
}

img {
  max-width: 100%;
  display: block;
}

h1, p, h2, li, ul, time{
  color: white
}
